<h1>Dashboard for <%= @user.first_name %>  <%= @user.last_name %></h1>
<div id="current_location"> </div>
<div id="current_lat"></div>
<div id="current_lng"></div>
Not where you're at? Click to --> <button id="updateLoc"> UPDATE LOC </button>
<div id="create_new_loc">Create a new Project using current Location? <button id="create_new_loc"> Ok </button></div>

<div id="current_weather"></div>
<div id="current_inspection"></div>
<button id="get_forecast"> Get Current Forecast </button><br/>


<div id="job_sites">My Active Jobs:
  <% @locations.each do |location| %>
  <li>
    <a href="/locations/<%=location.id %>"><h3><%= location.project_name %>: </h3> </a>
    <%= link_to "edit project info", edit_location_path(location)%> </br>
    <%=link_to "delete this project", location_path(location.id), method: :delete, confirm: "Do you want to permanently delete this location?" %></br>
      <%= location.address %></br>
      Contractor: <%= location.contractor_name %></br>
      <%=link_to "Create a new Report", new_location_report_path(location.id), method: :get %></br>
  </li>
  <% end %>
  <br>
  <br>
  <br>
  <a href="/locations/new">Create a new Project</a>
</div>

