<h1>Dashboard for <%= @user.first_name %>  <%= @user.last_name %></h1>
<button id="updateLoc"> UPDATE LOC </button>
<div id="current_location"> </div>
<div id="current_lat"></div>
<div id="current_lng"></div>

<div id="current_weather"></div>
<div id="current_inspection"></div>

<div id="job_sites">My Active Jobs:
  <% @locations.each do |location| %>
  <li>
    <a href="/locations/<%=location.id %>"><h3><%= location.project_name %>: </h3>
      <%=link_to "delete", location_path(location.id), method: :delete, confirm: "Do you want to permanently delete this location?" %></br>
      <%= link_to "edit", edit_location_path(location)%> </br>
    <%= location.address %></a>
  </li>
  <% end %>
  <br>
  <a href="/locations/new">Create a new Project</a>

</div>

