<div id="user_nav">
    <% if current_user %>
      Welcome, <%= current_user.first_name %>.
      <%= link_to "Log out", log_out_path %>
    <% else %>
      <%= link_to "Sign up", sign_up_path %> or
      <%= link_to "log in", log_in_path %>
    <% end %>
</div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>

<% end %>You are currently located at:
<div id="location"></div>

<div id="address"></div>

<br>
Current Forecast:
<div id="weather"></div>


<div id="photos">


  <% @photos.each do |x| %>
    <p><%= x.id %></p>
    <p><img src="<%= x.image.url %>" height="200px", width= "auto"/></p>
    <% if x.image_processed? %>
      <p><img src="<%= x.image.url(:thumb).to_s %>"/></p>
    <% else %>
      <em>Processing...</em>
    <% end %>
  <% end %>




</div>