<h2>New Site Observation Report</h2>

<%= form_for [@location, @report], :html => {:multipart => true} do |f| %>
  <div id="site_info">

  <h3>You are creating a new inspection report for:</h3>
  <li>Project Name: <%= @location.project_name %></li>
  <li>Address Line 1: <%= @location.street %></li>
  <li>Address Line 2: <%= @location.city %>  <%= @location.state %>, <%= @location.zip%></li>
  <li>Contractor: <%= @location.contractor_name %></li>

  <%= f.label :report_type %>:

  <%= f.select :report_type, options_for_select(%w[Weekly Before_predicted_rain During_rain_event After_qualifying_rain_event Quarterly-non-stormwater Contained_stormwater_release]) %>

<%= f.submit "Create a new inspection report for this location"%>
<% end %>
