<div id="user_nav">
    <% if current_user %>
      Currently Logged in as <%= current_user.first_name %>.
      <%= link_to "Log out", log_out_path %>
    <% else %>
      <%= link_to "Sign up", sign_up_path %> or
      <%= link_to "log in", log_in_path %>
    <% end %>
</div>
<br>
<div id="location_project">
  <h2>Project name: <%=@location.project_name%></h2>
  Address: <%=@location.address %></br>
  <% if current_user %>
    <%= link_to "edit", edit_location_path(@location)%> </br>
  <% end %>
</div>
<!-- <div id="current_weather"></div>
<div id="current_inspection"></div>
<button id="get_forecast"> Get Current Forecast </button> -->
<br>
<h3>Weather Info:</h3>
<% @forecast.each do |forecast| %>

<p>Day: <%= forecast[1][:forecast_day] %> </p>
<p>Forecast: <%= forecast[1][:weather] %> </p>
<p>Inspection Required?: <%= forecast[1][:inspection] %> </p>

<% end %>
Current Forecast: <%= @forecast[0][:weather]%><br/>
Inspection required? <%= @forecast[0][:inspection]%><br/>


<div id="location_reports">
  <% %>
</div>

<br>
<div id="location_users">
  Users associated with this project:
  <%@users.each do |user|%>
    <% if current_user %>
      <li><a href="/users/<%=user.id%>"><%=user.first_name%> <%=user.last_name%> (<%=user.company%>)</li></a>
    <% else %>
      <li><%=user.first_name%> <%=user.last_name%> (<%=user.company%>)</li>
    <% end %>

  <% end %>
</div>